extends ./layout

block content
    .container
      .row
        .col-sm-9.col-md-7.col-lg-5.mx-auto
          .card.border-0.shadow.rounded-3.my-5
            .card-body.p-4.p-sm-5
              h5.card-title.text-center.mb-5.fw-light.fs-5 Sign In
              form(action="/user/login" method="POST")
                #error
                  if errors
                    each error in errors
                      p.text-danger #{error}
                .form-floating.mb-3
                  label(for='floatingInput') Email address
                  input#floatingInput.form-control(type='email' name="email" placeholder='name@example.com')
                .form-floating.mb-3
                  label(for='floatingPassword') Password
                  input#floatingPassword.form-control(type='password' name="password" placeholder='Password')
                .form-check.mb-3
                  a.link-underline-dark.link-dark(href="/register") Register
                .d-grid
                  button.btn.btn-primary.btn-login.text-uppercase.fw-bold(type='submit')
                    | Sign In