extends ../layout

block content
    h3 Add Subject
    #error
        if errors
            each error in errors
                p.text-danger #{error}
    form(action="/catalog/student/create" method="POST")
      .form-group.col-md-6
        label(for='firstNameInput') First Name
        input#firstNameInput.form-control(type='text' name="firstName" placeholder="First Name")
        label(for='lastNameInput') Last Name
        input#lastNameInput.form-control(type='text' name="lastName" placeholder="Last Name")
      button.btn.btn-primary(type='submit') Add